@media screen and (max-width: 640px) {
    body {
        background-color: cadetblue;
        width: 100%;
    }

    table {
        width: 90%;
        border: 1px solid white;
        padding: 5px;
        margin: 1px;
    }

    input {
        width: 97%;
    }

    td {
        color: white;
        display: block;
        margin-bottom: 10px;
        /* Để tạo khoảng cách giữa các hàng */
    }
}

@media screen and (min-width: 768px) {
    body {
        background-color: darkviolet;
    }

    table {
        border: 1px solid white;
        padding: 5px;
        margin: 3px;
        width: 70%;
    }

    input {
        width: 97%;
    }

    td {
        color: white;
    }

}


@media screen and (min-width: 1024px) {
    body {

        background-color: blue;
    }

    table {
        border: 1px solid white;
        padding: 5px;
        margin: 3px;
        width: 60%;
    }

    input {
        width: 97%;
    }

    td {
        color: white;
    }
}