.flex-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.box {
    background-color: #58257b;
    width: 100px;
    margin: 10px;
    color: white;
    text-align: center;
    font-size: 30px;
}

.box1 {
    line-height: 150px;
}

.box2 {
    line-height: 300px;
}

.box3 {
    line-height: 100px;
}

.box4 {
    line-height: 250px;
}

.box4 {
    line-height: 250px;
}
