img{
    width: 200px;
    border-radius: 20%;
    height: 50px;
}
.ngoisao{
    width: 50px;
    height: 10px;
    display: inline-block;
}
.danhgia{
    color: gray;
    display: inline-block;
}
.giamgia{
    background-color: gray;
    display: inline-block;
    border-radius: 20%;
    
}