.item{
    padding: 20px;
    text-align: center;
    font-size: 20px;
}
.o1 {
    background-color: #7FFFD4;
    grid-area: o1;
}

.o2 {
    background-color: rgb(255 228 196);
    grid-area: o2;
}

.o3 {
    background-color: #00FFFF;
    grid-area: o3;
}

.o4 {
    background-color: #FFB6C1;
    grid-area: o4;
}

.o5 {
    background-color: #E0FFFF;
    grid-area: o5;
}

.o6 {
    background-color: #FF7F50;
    grid-area: o6;
}

.khoi{
    display: grid;
    grid-template-areas: 
    'o1 o1 o2'
    'o3 o4 o4'
    'o3 o5 o6';
    gap: 5px;
    padding: 5px;
    width: 200px;
    height: 200px;
}